@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.7)), url("/assets/fondoNetflix.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont {
    width: 40%;
    height: 650px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: transparent;
    backdrop-filter: blur(70px);
    border: solid 2px white;
    transition: all .2s ease;
}

.cont h1 {
    color: white;
    font-weight: 900;
    font-size: 50px;
}

.cont p {
    color: white;
    font-size: 13px;
    margin-top: -.5rem;
    margin-bottom: 2rem;
}

.cont h3 {
    color: white;
    font-size: 13px;
    margin-top: -.5rem;
    margin-bottom: 1rem;
    font-weight: 400;
}

.cont .input i {
    font-size: 12px;
}

.cont .input i#clean_service {
    cursor: pointer;
}

.cont .input i#eye {
    font-size: 15px;
    position: relative;
    cursor: pointer;
}

.cont .input i#eye::after {
    content: '';
    position: absolute;
    top: 7px;
    left: -2px;
    display: block;
    width: 20px;
    height: 1.2px;
    background-color: rgb(0, 0, 0);
    transform: rotate(45deg);
    transition: all .2s ease;
}

.cont .input i#eye.active::after {
    top: 0;
    width: 0;
}

.cont .input {
    width: 80%;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 0 .7rem 0 1rem;
    margin-bottom: .5rem;
}

.cont .input input,
.cont .input textarea {
    width: 100%;
    padding: 1rem 1rem 1rem .5rem;
    border: none;
    outline: none;
}

.cont .input textarea {
    height: 65px;
    padding-top: 1.5rem;
    resize: none
}

.cont .input textarea::-webkit-scrollbar {
    width: 0;
}

.cont .input:nth-child(9) input,
.cont .input:nth-child(7) textarea {
    cursor: pointer;
}

.ups {
    width: 80%;
    margin-top: 2rem;
    text-align: center;
    text-decoration: wavy;
    cursor: pointer;
}

.cont button {
    width: 50%;
    padding: .8rem 2rem;
    border-radius: 10px;
    font-size: 13px;
    cursor: pointer;
    background-color: white;
    border: solid 2px white;
    font-weight: 600;
    color: black;
    transition: all .2s ease;
}

.cont button:hover {
    background-color: transparent;
    color: white;
}

.select_service {
    position: fixed;
    bottom: -500vw;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: end;
    justify-content: center;
    transition: all .5s ease;
    z-index: 0;
}

.select_service.active {
    bottom: 0;
}

.select_service .content_select-service {
    box-shadow: 1px 1px 1rem rgba(0, 0, 0, 0.768);
    background-color: white;
    border-radius: 20px 20px 0 0;
    width: 400px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    position: relative;
    gap: 2rem;
}

.select_service .content_select-service h3 {
    color: black;
    font-size: 16px;
}

.select_service .content_select-service span {
    display: block;
    position: absolute;
    width: 50px;
    height: 4px;
    background-color: rgb(177, 177, 177);
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100px;
}

.select_service .content_select-service .img_select-service {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .5rem;
    width: 100%;
    margin-bottom: 2rem;
}

.select_service .content_select-service .img_select-service div {
    width: 100%;
    display: flex;
    align-items: center;
}

.select_service .content_select-service .img_select-service div:nth-child(2),
.select_service .content_select-service .img_select-service div:nth-child(5),
.select_service .content_select-service .img_select-service div:nth-child(8),
.select_service .content_select-service .img_select-service div:nth-child(11) {
    justify-content: center;
}

.select_service .content_select-service .img_select-service div:nth-child(1),
.select_service .content_select-service .img_select-service div:nth-child(4),
.select_service .content_select-service .img_select-service div:nth-child(7),
.select_service .content_select-service .img_select-service div:nth-child(10) {
    justify-content: end;
}

.select_service .content_select-service .img_select-service img {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 70px;
    border-radius: 50%;
    transition: all .2s ease;
    cursor: pointer;
}

.select_service .content_select-service .img_select-service img:hover {
    border-radius: 20%;
}

.select_pais {
    position: fixed;
    bottom: -500vw;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: end;
    justify-content: center;
    transition: all .5s ease;
    z-index: 0;
}

.select_pais.active {
    bottom: 0;
}

.select_pais .content_select-pais {
    box-shadow: 1px 1px 1rem rgba(0, 0, 0, 0.768);
    background-color: white;
    border-radius: 20px 20px 0 0;
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    position: relative;
    gap: 2rem;
}

.select_pais .content_select-pais h3 {
    color: black;
    font-size: 16px;
}

.select_pais .content_select-pais span {
    display: block;
    position: absolute;
    width: 50px;
    height: 4px;
    background-color: rgb(177, 177, 177);
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100px;
}

.select_pais .content_select-pais .img_select-pais {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .5rem;
    width: 100%;
    margin-bottom: 2rem;
}

.select_pais .content_select-pais .img_select-pais div {
    width: 100%;
    display: flex;
    align-items: center;
}

.select_pais .content_select-pais .img_select-pais div:nth-child(2),
.select_pais .content_select-pais .img_select-pais div:nth-child(5),
.select_pais .content_select-pais .img_select-pais div:nth-child(8),
.select_pais .content_select-pais .img_select-pais div:nth-child(11) {
    justify-content: center;
}

.select_pais .content_select-pais .img_select-pais div:nth-child(1),
.select_pais .content_select-pais .img_select-pais div:nth-child(4),
.select_pais .content_select-pais .img_select-pais div:nth-child(7),
.select_pais .content_select-pais .img_select-pais div:nth-child(10) {
    justify-content: end;
}

.select_pais .content_select-pais .img_select-pais img {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 70px;
    border-radius: 50%;
    transition: all .2s ease;
    cursor: pointer;
}

.select_pais .content_select-pais .img_select-pais img:hover {
    border-radius: 20%;
}

.fire {
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    width: 50px;
    height: 50px;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
}

@keyframes scaleUpDown {

    0%,
    100% {
        transform: scaleY(1) scaleX(1);
    }

    50%,
    90% {
        transform: scaleY(1.1);
    }

    75% {
        transform: scaleY(0.95);
    }

    80% {
        transform: scaleX(0.95);
    }
}

@keyframes shake {

    0%,
    100% {
        transform: skewX(0) scale(1);
    }

    50% {
        transform: skewX(5deg) scale(0.9);
    }
}

@keyframes particleUp {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        top: -100%;
        transform: scale(0.5);
    }
}

@keyframes glow {

    0%,
    100% {
        background-color: #ff1e1e;
    }

    50% {
        background-color: #ff1e1e;
    }
}

.fire {
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    width: 50px;
    /* Reduced size by 50% */
    height: 50px;
    /* Reduced size by 50% */
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    margin-top: -2rem;
}

.fire-center {
    position: absolute;
    height: 100%;
    width: 100%;
    animation: scaleUpDown 3s ease-out;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.fire-center .main-fire {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(farthest-corner at 10px 0,
            #ff1e1e 0%,
            #ff1e1e 95%);
    transform: scaleX(0.8) rotate(45deg);
    border-radius: 0 40% 60% 40%;
    filter: drop-shadow(0 0 10px #ff1e1e);
}

.fire-center .particle-fire {
    position: absolute;
    top: 60%;
    left: 45%;
    width: 10px;
    height: 10px;
    background-color: #ff1e1e;
    border-radius: 50%;
    filter: drop-shadow(0 0 10px #d43322);
    animation: particleUp 2s ease-out 0;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.fire-right {
    height: 100%;
    width: 100%;
    position: absolute;
    animation: shake 2s ease-out 0;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.fire-right .main-fire {
    position: absolute;
    top: 15%;
    right: -25%;
    width: 80%;
    height: 80%;
    background-color: #ff1e1e;
    transform: scaleX(0.8) rotate(45deg);
    border-radius: 0 40% 60% 40%;
    filter: drop-shadow(0 0 10px #ff1e1e);
}

.fire-right .particle-fire {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 15px;
    height: 15px;
    background-color: #ff1e1e;
    transform: scaleX(0.8) rotate(45deg);
    border-radius: 50%;
    filter: drop-shadow(0 0 10px #ff1e1e);
    animation: particleUp 2s ease-out 0;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.fire-left {
    position: absolute;
    height: 100%;
    width: 100%;
    animation: shake 3s ease-out 0;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.fire-left .main-fire {
    position: absolute;
    top: 15%;
    left: -20%;
    width: 80%;
    height: 80%;
    background-color: #ff1e1e;
    transform: scaleX(0.8) rotate(45deg);
    border-radius: 0 40% 60% 40%;
    filter: drop-shadow(0 0 10px #ff1e1e);
}

.fire-left .particle-fire {
    position: absolute;
    top: 10%;
    left: 20%;
    width: 10%;
    height: 10%;
    background-color: #ff1e1e;
    border-radius: 50%;
    filter: drop-shadow(0 0 10px #d43322);
    animation: particleUp 3s infinite ease-out 0;
    animation-fill-mode: both;
}

.fire-bottom .main-fire {
    position: absolute;
    top: 30%;
    left: 20%;
    width: 75%;
    height: 75%;
    background-color: #ff1e1e;
    transform: scaleX(0.8) rotate(45deg);
    border-radius: 0 40% 100% 40%;
    filter: blur(10px);
    animation: glow 2s ease-out 0;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.out {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    z-index: 10000000;
    display: none;
}

.out.active {
    display: flex;
}

.out .text_out {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 4rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.out .text_out h1 {
    font-size: 50px;
    font-weight: 1000;
    color: white;
}

.out .text_out p {
    color: white;
    font-size: 13px;
    margin-bottom: 1rem;
}

.out .text_out a {
    padding: 1rem 2rem;
    color: white;
    background-color: #d43322;
    font-size: 12px;
    font-weight: 700;
    border-radius: 10px;
}

.toast{
    position: fixed;
    top: 30px;
    right: -100vw;
    width: 300px;
    height: 70px;
    padding: 1rem 2rem;
    border-radius: 20px 0 0 20px;
    background-color: #e15a5a;
    transition: all 1s ease;
    display: flex;
    align-items: center;
    justify-content: start;
    color: white;
    gap: 1rem;
}

.toast p:not(.p_toast){
    color: #872222;
}

.toast.active{
    right: 0;
}

@media (height < 800px) {
    body {
        display: flex;
        align-items: start;
        height: 100%;
    }

    .cont {
        margin-top: 3rem;
        margin-bottom: 5rem;
    }
}

@media (width < 1100px) {
    .cont {
        width: 60%;
    }
}

@media (width < 800px) {
    .cont {
        width: 80%;
    }
}

@media (width < 600px) {
    .cont {
        width: 90%;
    }
}

@media (width < 500px) {
    .cont h1 {
        font-size: 30px;
    }

    .cont p {
        margin-top: 0;
        margin-bottom: 2rem;
    }

    .cont .input {
        width: 90%;
    }

    .cont button {
        width: 60%;
    }
}